
/* snackbar */

#snackbar {
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    left: 24px;
    bottom: 24px;
    min-width: 250px;
    margin-right: 24px;
    text-align: center;
    background-color: #333;
    color: #fff;
    font-size: 17px;
    padding: 16px;
    border-radius: 2px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.image {
    width: 100%;
    height: auto;
}

.feature-title {
    font-weight: bold;
    font-size: 22px;
}

footer {
    margin-top: 50px;
}

@media screen and (min-width: 601px) {
    .input-left {
        padding-right: 10px;
    }

    .input-right {
        padding-left: 10px;
    }
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 24px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 24px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 24px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 24px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* loader */

.loader {
    border: 2px solid #ffffff;
    border-radius: 50%;
    border-top: 2px solid transparent;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
